<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat app</title>
    <link rel="stylesheet" href="chat.css">
</head>
<body>
<div class="chat">
    <nav class="navigation">
        <ul class="navigation__list">
            <li class="navigation__item-menu">
                <span class="item-menu__back"></span>
            </li>
            <li class="navigation__item-contactname">Contact name</li>
            <li class="navigation__item-info">
                <span class="item-add__line"></span>
            </li>
        </ul>
    </nav>
    <main class="main">
        <ul class="main__message-list">
            <li class="message-from-contact">
                <span class="text-message"> Привет</span>
                <span class="time-message">14:40</span>
            </li>
            <li class="message-from-user">
                <span class="text-message"> Привет, как у тебя дела</span>
                <span class="time-message">14:40</span>
            </li>
            <li class="message-from-contact">
                <span class="text-message"> Привет, как у тебя дела, что нового как можно столько есть едрить твою налево</span>
                <span class="time-message">14:40</span>
            </li>
            <li class="message-from-user">
                <span class="text-message"> Привет</span>
                <span class="time-message">14:40</span>
            </li>
            <li class="message-from-contact">
                <span class="text-message"> Привет</span>
                <span class="time-message">14:40</span>
            </li>
            <li class="message-from-user">
                <span class="text-message"> Привет, как у тебя дела, что нового как можно столько есть едрить твою налево</span>
                <span class="time-message">14:40</span>
            </li>
            <li class="message-from-contact">
                <span class="text-message"> Привет, как у тебя дела, что нового как можно столько есть едрить твою налево</span>
                <span class="time-message">14:40</span>
            </li>
            <li class="message-from-user">
                <span class="text-message"> Привет</span>
                <span class="time-message">14:40</span>
            </li>
            <li class="message-from-contact">
                <span class="text-message"> Привет</span>
                <span class="time-message">14:40</span>
            </li>
            <li class="message-from-user">
                <span class="text-message"> Привет, как у тебя дела, что нового как можно столько есть едрить твою налево</span>
                <span class="time-message">14:40</span>
            </li>
            <li class="message-from-contact">
                <span class="text-message"> Привет, как у тебя дела, что нового как можно столько есть едрить твою налево</span>
                <span class="time-message">14:40</span>
            </li>
            <li class="message-from-user">
                <span class="text-message"> Привет</span>
                <span class="time-message">14:40</span>
            </li>
            <li class="message-from-contact">
                <span class="text-message"> Привет</span>
                <span class="time-message">14:40</span>
            </li>
            <li class="message-from-user">
                <span class="text-message"> Привет, как у тебя дела, что нового как можно столько есть едрить твою налево</span>
                <span class="time-message">14:40</span>
            </li>
            <li class="message-from-contact">
                <span class="text-message"> Привет, как у тебя дела, что нового как можно столько есть едрить твою налево</span>
                <span class="time-message">14:40</span>
            </li>
            <li class="message-from-user">
                <span class="text-message"> Привет</span>
                <span class="time-message">14:40</span>
            </li>
            <li class="message-from-contact">
                <span class="text-message"> Привет</span>
                <span class="time-message">14:40</span>
            </li>
            <li class="message-from-user">
                <span class="text-message"> Привет, как у тебя дела, что нового как можно столько есть едрить твою налево</span>
                <span class="time-message">14:40</span>
            </li>
            <li class="message-from-contact">
                <span class="text-message"> Привет, как у тебя дела, что нового как можно столько есть едрить твою налево</span>
                <span class="time-message">14:40</span>
            </li>
            <li class="message-from-user">
                <span class="text-message"> Привет</span>
                <span class="time-message">14:40</span>
            </li>
            <li class="message-from-contact">
                <span class="text-message"> Привет</span>
                <span class="time-message">14:40</span>
            </li>
            <li class="message-from-user">
                <span class="text-message"> Привет, как у тебя дела, что нового как можно столько есть едрить твою налево</span>
                <span class="time-message">14:40</span>
            </li>
            <li class="message-from-contact">
                <span class="text-message"> Привет, как у тебя дела, что нового как можно столько есть едрить твою налево</span>
                <span class="time-message">14:40</span>
            </li>
            <li class="message-from-user">
                <span class="text-message"> Привет</span>
                <span class="time-message">14:40</span>
            </li>
        </ul>
    </main>

    <footer class="type-message">
        <input class="type-message__type-text" type="text" placeholder="Type message..." autofocus>
        <button class="type-message__send-message">Send</button>
    </footer>

</div>
</body>
</html>