@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');


*{
    padding: 0;
    margin: 0;
    /*outline: 1px solid red;*/
    /*background: rgba(0,0,0,0.5);*/

}

body {
    background: url("../images/bg.png");
}

input {
    border: none;
}
.create-account{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background: white;
    margin: 0 auto;
    height: 719px;
    width: 404px;
    padding-top: 94px;
}

.header {
    margin: 0 auto;
    width: calc(599px/1.855);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 215px;
    box-sizing: border-box;

}

.header__logo {
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 90px  ;;
    width: calc(245px/1.855);
    height: calc(270px/1.855);
    background: url("../images/logo.png") no-repeat;
    background-size: cover;
    font: 700 28px  'Open Sans', sans-serif;
    color: white;

}

.header__welcome {
    font: 30px  'Open Sans', sans-serif;
    letter-spacing: 1px;
    color: black;
}

.form {
    font: 28px "Helvetica Neue",sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__username {
    margin-top: 14px;
    box-sizing: border-box;
    padding-left: 5px;
    width: calc(599px/1.855);
    height: calc(90px/1.855);
    font: 22px "Helvetica Neue",sans-serif;
    color: black;
    border-bottom: 1px solid black;
    background: rgba(0,0,0,0.0);
}
.form__username::placeholder {
    color: black;
}
.form__username:focus {
    outline: none;
}
.form__password {
    margin-top: 14px;
    margin-bottom: 15px;
    box-sizing: border-box;
    padding-left: 5px;
    width: calc(599px/1.855);
    height: calc(90px/1.855);
    font: 22px "Helvetica Neue",sans-serif;
    color: black;
    border-bottom: 1px solid black;
    background: rgba(0,0,0,0.0);
}

.form__password::placeholder {
    color:black;
}

.form__password:focus {
    outline: none;
}

.form__gender {
    margin-top: 10px;
    display: flex;
    align-items: baseline;
    width: calc(599px/1.855);
    font: 22px "Helvetica Neue",sans-serif;
}

.form__gender--male {
    margin-left: 10px;
}

.form__gender--female {
    margin-left: 10px;
}

.form__sigh-up {
    margin-top: 80px;
    width: calc(599px/1.855);
    height: calc(102px/1.855);
    font: 20px "Helvetica Neue",sans-serif;
    color: white;
    background: #f15a24;
    border:  #f15a24;
}

.form__sigh-up:focus {
    outline: none;
}

.footer {
    margin-top: 10px;
    font: 16px "Helvetica Neue",sans-serif;
    color:black;
}
.footer__sigh-in {
    text-decoration: underline;
    cursor: pointer;
}

.error-gender {
    top: 537px;
    left: center;
    position: absolute;
    width: calc(599px/1.855);
    outline: 1px solid red;
    font: 14px "Helvetica Neue",sans-serif;
    background: #f15a24;
}
.successful-registration {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 357px;
    left: center;
    position: absolute;
    width: calc(599px/1.855);
    font: 20px "Helvetica Neue",sans-serif;
    background: #f15a24;
    border-radius: 20px;
}
.successful-registration__button {
    width: 100px;
    height: 40px;
    margin-top: 10px;
    font: 20px "Helvetica Neue",sans-serif;
}
.successful-registration__button:focus {
    outline: none;
}

@media handheld and (max-width: 1100px){
    .create-account{
        width: 100%;
    }
}