<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="login">
           <header class="header">
               <div class="header__logo">chat app</div>
               <h1 class="header__welcome">Welcome to chat app</h1>
           </header>
            <span class="error-username">Длина имени  должна быть не менее 4 символов</span>
            <span class="error-password">Пароль не должен быть пустым</span>
           <form class="form" action="">
               <input class="form__username" type="text" placeholder="Username">
               <input class="form__password" type="password" placeholder="Password">
               <button class="form__sigh-in">Sign In</button>
           </form>
            <footer class="footer">Don't have account? <span class="footer__sigh-up">Sigh Up</span></footer>

    </div>
</body>
</html>