<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="contacts.css">
</head>
<body>
        <div class="contacts">
            <nav class="navigation">
        <ul class="navigation__list">
            <li class="navigation__item-menu">
                <span class="item-menu__burger"></span>
            </li>
            <li class="navigation__item-contacts">Contact list</li>
            <li class="navigation__item-add">
                <span class="item-add__line"></span>
            </li>
        </ul>
    </nav>
            <main class="main">
                <input type="button" class="main__search" value="Search">
                <ul class="main__contact-list">
                    <li class="contact__list-item">
                       <div class="item__contact">
                           <img src="../images/user_woman_default.png" class="item__avatar" alt="">
                           <ul class="item_message">
                               <li><span class="item__username" >Kate Beckinsale</span></li>
                               <li><span class="item__text-message">Hey, Kate</span></li>
                           </ul>
                       </div>
                        <span class="item__date">Today</span>
                    </li>
                    <li class="contact__list-item">
                        <div class="item__contact">
                            <img src="../images/user_woman_default.png" class="item__avatar" alt="">
                            <ul class="item_message">
                                <li><span class="item__username" >Kate Beckinsale</span></li>
                                <li><span class="item__text-message">Hey, Kate</span></li>
                            </ul>
                        </div>
                        <span class="item__date">Today</span>
                    </li>
                    <li class="contact__list-item">
                        <div class="item__contact">
                            <img src="../images/user_woman_default.png" class="item__avatar" alt="">
                            <ul class="item_message">
                                <li><span class="item__username" >Kate Beckinsale</span></li>
                                <li><span class="item__text-message">Hey, Kate</span></li>
                            </ul>
                        </div>
                        <span class="item__date">Today</span>
                    </li>
                    <li class="contact__list-item">
                        <div class="item__contact">
                            <img src="../images/user_woman_default.png" class="item__avatar" alt="">
                            <ul class="item_message">
                                <li><span class="item__username" >Kate Beckinsale</span></li>
                                <li><span class="item__text-message">Hey, Kate</span></li>
                            </ul>
                        </div>
                        <span class="item__date">Today</span>
                    </li>
                    <li class="contact__list-item">
                        <div class="item__contact">
                            <img src="../images/user_woman_default.png" class="item__avatar" alt="">
                            <ul class="item_message">
                                <li><span class="item__username" >Kate Beckinsale</span></li>
                                <li><span class="item__text-message">Hey, Kate</span></li>
                            </ul>
                        </div>
                        <span class="item__date">Today</span>
                    </li>
                    <li class="contact__list-item">
                        <div class="item__contact">
                            <img src="../images/user_woman_default.png" class="item__avatar" alt="">
                            <ul class="item_message">
                                <li><span class="item__username" >Kate Beckinsale</span></li>
                                <li><span class="item__text-message">Hey, Kate</span></li>
                            </ul>
                        </div>
                        <span class="item__date">Today</span>
                    </li>
                    <li class="contact__list-item">
                        <div class="item__contact">
                            <img src="../images/user_woman_default.png" class="item__avatar" alt="">
                            <ul class="item_message">
                                <li><span class="item__username" >Kate Beckinsale</span></li>
                                <li><span class="item__text-message">Hey, Kate</span></li>
                            </ul>
                        </div>
                        <span class="item__date">Today</span>
                    </li>
                    <li class="contact__list-item">
                        <div class="item__contact">
                            <img src="../images/user_woman_default.png" class="item__avatar" alt="">
                            <ul class="item_message">
                                <li><span class="item__username" >Kate Beckinsale</span></li>
                                <li><span class="item__text-message">Hey, Kate</span></li>
                            </ul>
                        </div>
                        <span class="item__date">Today</span>
                    </li>
                    <li class="contact__list-item">
                        <div class="item__contact">
                            <img src="../images/user_woman_default.png" class="item__avatar" alt="">
                            <ul class="item_message">
                                <li><span class="item__username" >Kate Beckinsale</span></li>
                                <li><span class="item__text-message">Hey, Kate</span></li>
                            </ul>
                        </div>
                        <span class="item__date">Today</span>
                    </li>
                    <li class="contact__list-item">
                        <div class="item__contact">
                            <img src="../images/user_woman_default.png" class="item__avatar" alt="">
                            <ul class="item_message">
                                <li><span class="item__username" >Kate Beckinsale</span></li>
                                <li><span class="item__text-message">Hey, Kate</span></li>
                            </ul>
                        </div>
                        <span class="item__date">Today</span>
                    </li>
                    <li class="contact__list-item">
                        <div class="item__contact">
                            <img src="../images/user_woman_default.png" class="item__avatar" alt="">
                            <ul class="item_message">
                                <li><span class="item__username" >Kate Beckinsale</span></li>
                                <li><span class="item__text-message">Hey, Kate</span></li>
                            </ul>
                        </div>
                        <span class="item__date">Today</span>
                    </li>
                    <li class="contact__list-item">
                        <div class="item__contact">
                            <img src="../images/user_woman_default.png" class="item__avatar" alt="">
                            <ul class="item_message">
                                <li><span class="item__username" >Kate Beckinsale</span></li>
                                <li><span class="item__text-message">Hey, Kate</span></li>
                            </ul>
                        </div>
                        <span class="item__date">Today</span>
                    </li>
                </ul>
            </main>



        </div>
</body>
</html>